/* Custom color theme properties */
:root {
  --f7-theme-color: #28c3d4;
  --f7-theme-color-rgb: 40, 195, 212;
  --f7-theme-color-shade: #22a3b2;
  --f7-theme-color-tint: #48cedd;
}

/* Your app custom styles here */